<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {{> main/styles}}
        <title>MS Profile</title>
    </head>
</html>
<body>
    {{{body}}}
</body>
{{> main/scripts}}
</html>