<div class="home-img">
    {{> home/imageAsset}}
</div>
<form class="otp-form">
    <div class="otp-form__div">
        <p class="otp-form--p">One Time Password</p>
        <input type="password" class="otp-form--otp" aria-label="OTP" tabindex="1" required/>
        <input type="button" class="otp-form--btn" name="Submit" value="Submit"/>
    </div>
</form>